body {
    background-color: #d5d8dc;
}

table {

    width: 700px;
    height: 800px;
    margin: auto;
    
}

.tableone {
    width: 250px;
    background-color: #1c2833;
    color: white;
    padding: 20px;
}



.tabletwo {
    width: 450px;
    background-color: #fdfefe;
    padding: 20px;
}

.dp  {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 45px;
}